body {
  background-image: url(./sign_posts.png);
  background-size: cover;
  font-family: Consolas, monospace;
  margin: 0;
      padding: 0;
      /* width: 100vw; */
      background-size: cover;
  background-position: center top -600px;

}
.App {
  text-align: center;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  scale: 0.8;
  padding: 100px;
  justify-content: center;
  text-align: center;
}

.button {
  font-family: Consolas, monospace;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: ;
  text-decoration: none;
  /* background: linear-gradient(45deg, #333 25%, transparent 25%), 
              linear-gradient(-45deg, #333 25%, transparent 25%), 
              linear-gradient(45deg, transparent 75%, #333 75%), 
              linear-gradient(-45deg, transparent 75%, #333 75%); */
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;

  background: linear-gradient(-45deg, #333 25%, transparent 25%), 
              linear-gradient(45deg, #333 25%, transparent 25%), 
              linear-gradient(-45deg, transparent 75%, #333 75%), 
              linear-gradient(45deg, transparent 75%, #333 75%);
}

.button-simple {
  font-family: Consolas, monospace;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: ;
  text-decoration: none;
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  border: 2px solid #333;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button-simple:hover {
  cursor: pointer;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px;

  background: grey;
}

*, *::before, *::after { box-sizing: border-box; }
li {
margin: 0px;
}

th, td {
  width: 150px
}